h1 {
  font-family: helvetica;
  font-size: 5VW;
  color: pink;
  margin-left: 1em;
}
html{
  width: 100VH;
  height: 100VW;
}

#background{
  background-image: url("4.png");
  background-size: 50VW;
  background-repeat: no-repeat;
  padding: 0em;
  width: 100VW;
  height: 100VW;
  margin-top: -10em;
  margin-left: 25VW;
  z-index: -1;
}
.links{
  display: flex;
  flex-direction: column;
  /* width: 100VW; */
}
a {
  text-decoration: none;
  font-family: helvetica;
  color: black;
  margin-left: 5.5VW;
}
a:hover {
  text-decoration: none;
  font-family: helvetica;
  color: pink;
  margin-left: 5.5VW;
}
