body {
  font-size: 24px;
  color: #000;
  /* width: 600px; */
  margin: 0 auto;
  /* overflow-x: hidden; */
  background-color: #191a1a;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}
#defaultCanvas0 {
  margin-left: auto;
  margin-right: auto;
  padding-left: 13.4em;
  padding-top: 1em;
}
p {
  text-align: center;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 2em;
}
