/* hiding the "checkbox" component of the checkbox elements */
*{
  /*outline: 3px dotted black;*/
}
html {
  /* overflow: hidden; */
  /*height: 100%;*/
}
body {
  /*overflow-x: hidden;*/
  /*position:relative;*/
  overflow:auto;
}
input[type=checkbox] {
  display: none;
}

/* change the color/add other kinds of css for the checked options through this selector */
input[type=checkbox]:checked + label {
  color: blue;
}

h1 {
  color: black;
}
#recipeList{
  background-color: #eee;
  top: 0;
  left: 0;
  /*position: fixed;*/
  width: 100VW;
  visibility: hidden;
  /*overflow-y: scroll;*/
}
#recipes {
  display: flex;
  /* grid-template-columns: 33% 33% 33%; */
  flex-wrap: wrap;
}
.recipe-link {
  width: 33%;
  height: 400px;
  min-width: 300px;
  display: inline-block;
  background-color: #ddd;
  padding: 1em 2em 0em 1em;
  /* overflow: hidden; */
}
.recipe-link img {
  width: 33%;
}
recipe {
  background-color: green;
  width: 100px;
  height: 100px;
}
#recipeInstruction {
  background-color: pink;
  width: 100px;
  height: 100px;
  visibility: visible;
}

@media (max-width: 1200px) {
  #recipes{
    grid-template-columns: 50% 50%%;
  }
  .recipe-link img {
    width: 50%;
  }
}
@media (max-width: 600px) {
  #recipes{
    grid-template-columns: 100%;
  }
  .recipe-link img {
    width: 100%;
  }
}


/*//Zintis code*/

.imageDiv{
  height:70vh;
  /*max-height:500px;*/
  min-width: 300px;
  width:33%;
  background-position: center;
  background-size:cover;
}

.ingredientsList{

}
.preparationsList{

}

#showMyRecipes{
  padding:20px;
  border-radius: 10px;
  background-color:lightpink;
  color:white;
  font-size:30px;
  font-weight: 700;
}
