body {
  background-color: #283339;
  background: url("../images/lines.jpg");
  width: auto;
  height: auto;
  /* cursor: url(".../dfefsf.s.dfs"), auto; */
}
.linecontainer{
	width: 300%;
	height: 170%;
	float: left;
	overflow-x: hidden;
	display: inline-block;
	position: absolute;
  left: 5%;
}
.title p{
  font-family: Helvetica;
  font-weight: bold;
  font-size: 100pt;
  color: #FCCC0A;
}
.whatisit {
  padding-left: 2%;
  padding-top: 3%;
}
.whatisit p{
  font-family: Helvetica;
  font-weight: bold;
  font-size: 50pt;
  color: #CCCC89;
}
.box1{
  padding-left: 2%;
  transition: transform .25s;
  width: 7%;
  height: auto;
  margin: 0 auto;
  float: left;
  padding-top: 0%;
}
.box1:hover{
  -ms-transform: scale(1.25); /* IE 9 */
-webkit-transform: scale(1.25); /* Safari 3-8 */
transform: scale(1.25);
overflow: auto;
}
.box1 img {
  float: left;
}
.box1 p {
  float:left;
  padding-left: 3%;
  padding-right: 5%;
  font-family: Helvetica;
  font-size: 20pt;
  color: white;
}

.box2 {
  flex-wrap: wrap;
  padding-left: 5%;
  transition: transform .25s;
  width: 7%;
  height: auto;
  margin: 0 auto;
  float: left;
}
.box2:hover{
  -ms-transform: scale(1.25); /* IE 9 */
-webkit-transform: scale(1.25); /* Safari 3-8 */
transform: scale(1.25);}

.box2 img {
  float: left;
}
.box2 p {
  float: left;
  padding-left: 3%;
  padding-right: 5%;
  font-family: Helvetica;
  font-size: 20pt;
  color: white;
}
.box3{
  flex-wrap: wrap;
  padding-left: 8%;
  transition: transform .25s;
  width: 7%;
  height: auto;
  margin: 0 auto;
  float: left;
}
.box3:hover{
  -ms-transform: scale(1.25); /* IE 9 */
-webkit-transform: scale(1.25); /* Safari 3-8 */
transform: scale(1.25);}

.box3 img {
  float: left;
}
.box3 p {
  float: left;
  padding-left: 3%;
  padding-right: 5%;
  font-family: Helvetica;
  font-size: 20pt;
  color: white;
}
.system {
  padding-left: 33%;
  margin-top: -8%;
}
.system p{
  font-family: Helvetica;
  font-weight: bold;
  font-size: 50pt;
  color: #CCCC89;
}

.box4{
  flex-wrap: wrap;
  padding-left: 8%;
  padding-top: -8%;
  transition: transform .25s;
  width: 7%;
  height: auto;
  margin-top: -16%;
  float: left;
}
.box4:hover{
  -ms-transform: scale(1.25); /* IE 9 */
-webkit-transform: scale(1.25); /* Safari 3-8 */
transform: scale(1.25);}

.box4 img {
  float: left;
}
.box4 p {
  float: left;
  /* padding-left: 3%;
  padding-right: 5%; */
  font-family: Helvetica;
  font-size: 20pt;
  color: white;
}
.box5{
  flex-wrap: wrap;
  padding-left: 27%;
  transition: transform .25s;
  width: 7%;
  height: auto;
  margin-top: -16%;
  float: left;
}
.box5:hover{
  -ms-transform: scale(1.25); /* IE 9 */
-webkit-transform: scale(1.25); /* Safari 3-8 */
transform: scale(1.25);}

.box5 img {
  float: left;
}
.box5 p {
  float: left;
  padding-left: 3%;
  padding-right: 5%;
  font-family: Helvetica;
  font-size: 20pt;
  color: white;
}
.box6{
  flex-wrap: wrap;
  padding-left: 39%;
  transition: transform .25s;
  width: 7%;
  height: auto;
  margin-top: -6%;
  float: left;
}
.box6:hover{
  -ms-transform: scale(1.2); /* IE 9 */
-webkit-transform: scale(1.2); /* Safari 3-8 */
transform: scale(1.2);}

.box6 img {
  float: left;
}
.box6 p {
  float: left;
  padding-left: 3%;
  padding-right: 5%;
  font-family: Helvetica;
  font-size: 20pt;
  color: white;
}
/*----------------------------------------*/
.notes {
  padding-left: 74%;
  padding-top: 7%;
  margin-left: 9%;
}
.notes p{
  padding-left: 12%;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 50pt;
  color: #CCCC89;
}
.box7{
  flex-wrap: wrap;
  margin-left: 66%;
  transition: transform .25s;
  width: 7%;
  height: auto;
  padding-top: 1%;
  float: left;
}
.box7:hover{
  -ms-transform: scale(1.25); /* IE 9 */
-webkit-transform: scale(1.25); /* Safari 3-8 */
transform: scale(1.5);}

.box7 img {
  float: left;
}
.box7 p {
  float: left;
  padding-left: 3%;
  padding-right: 5%;
  font-family: Helvetica;
  font-size: 20pt;
  color: white;
}
.box8{
  flex-wrap: wrap;
  padding-left: 50%;
  padding-bottom: 20%;
  transition: transform .25s;
  width: 7%;
  height: auto;
  margin-top: -8%;
  float: left;
}
.box8:hover{
  -ms-transform: scale(1.25); /* IE 9 */
-webkit-transform: scale(1.25); /* Safari 3-8 */
transform: scale(1.5);}

.box8 img {
  float: left;
}
.box8 p {
  float: left;
  padding-left: 3%;
  padding-right: 5%;
  font-family: Helvetica;
  font-size: 20pt;
  color: white;
}
.box9{
  flex-wrap: wrap;
  padding-left: 8%;
  transition: transform .25s;
  width: 7%;
  height: auto;
  margin-top: -5%;
  float: left;
}
.box9:hover{
  -ms-transform: scale(1.25); /* IE 9 */
-webkit-transform: scale(1.25); /* Safari 3-8 */
transform: scale(1.5);}

.box9 img {
  float: left;
}
.box9 p {
  float: left;
  padding-left: 3%;
  padding-right: 5%;
  font-family: Helvetica;
  font-size: 20pt;
  color: white;
}
